@import url('https://fonts.googleapis.com/css2?family=Fahkwang:wght@200;300;500&family=Roboto:ital,wght@1,100&display=swap');


body {background-color: rgb(86, 159, 177);
	font-family: 'Fahkwang', sans-serif;
	font-weight: 300;
	font-size: 20px;}



h1 {font-size: 30px;
text-transform:uppercase ;
	
}

h2 {text-align: center;

font-size: 30px;
text-shadow: 1px 2px 5px rgb(61, 132, 230);
text-transform:uppercase ;
font-family: 'Fahkwang', sans-serif;
font-weight: 800;
}

p, ul {
	padding: 20px;
}

.button {
    background-color:rgb(86, 159, 177);
    font-size: 30px;
    line-height: 3;
    border-radius: 10px;
    text-align: center;
    padding: 5px;
    box-shadow: 4px 6px 5px rgb(35, 32, 33);
    
}

header {
	position: sticky;
	top: 0;
	min-height: 2em;
	
	background-color:rgb(245, 248, 42);
	border-radius: 5px;
	text-align: center;
	
	line-height: 1.2;
	padding: 20px;
	margin-bottom: 30px;
	letter-spacing: 10px;
	
	}

.blok {margin-bottom: 40px;
	padding: 20px;
	line-height: 20px;
	}

.aktivation-filtr,
.b2c-filtr
 {background-color: rgb(245, 248, 42);
	margin-bottom: 40px;
	padding: 40px;
}
.margin-aktivation,
.b2c-aktivation {
	margin-bottom: 40px;
	padding: 40px;
	line-height: 2;

}

.blank {
    box-shadow: 4px 6px 5px rgb(28, 27, 27);
    background-color: rgb(243, 250, 31);
    width: 150px;
    border-radius: 10px;
    text-align: center;
    margin-left: 1000px;
    font-size: 25px;
    padding: 5px;
    margin-bottom: 20px;
}
